
.div-test {
    color: darkorange;
}

body {
    background-color: #00eaff;
    }
    #div-2 {

        font-weight: bold;

    }

    body {text-align: center;

    }
    ul {
        list-style-type: none;
    }